.pagination {
  margin: 0;
  padding: 24px;
  height: 20px;
  list-style:none;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pagination-index {
  text-align: center;
  min-width: 20px;
  cursor: pointer;
}

.pagination-index:hover {
  background: #E1E1E1;
}

.pagination-index:has(.dots) {
  cursor: default;
  background: none;
}

.pagination-link {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
}

.pagination-index.active {
  background: #0087E9;
  color: white;
}